@charset "UTF-8";

body{
  background-color: #305089;
  color: white;
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

a img {
      border: none; /* 青い枠線を削除 */
}
.p2{
  background-color: #eaf6fd;
  color: #305089;
  width: 100%;
  height: auto;
}

p2 {
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.totalresult{
  background-color: #eaf6fd;
  color: #305089;
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.results{
  background-color: #eaf6fd;
  color: #305089;
  width: 100%;
  height: auto;
  text-align: center;
}

p6 {
  font-size: 15px;
  color: #305089;
  text-align: right;
  padding: 10px;
}

.p3{
  background-color: #eaf6fd;
  width: 100%;
  height: auto;
}

p3 {
  padding: 10px;
}


p4 {
  padding: 10px;
  justify-content: center;
}

p5 {
  color: #305089;
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

/*ヘッダー*/

.header{
  background-color: #305089;
  posion: fixed;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header img{
  width: 170px;
  height: 50px;
  padding: 10px;
}
.main-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem:
  list-style: none;
}

.main-nav a {
  color: white;
}

.main-nav a:hover {
  color: gray;
}

ul{
  padding-left: 0;
}

li{
  list-style: none;
}

table {
  width: 100%;
  margin: 20px;
  border-collapse: collapse;
  padding: 10px;
}

table, th, td {
  border: 0px solid #000;
}

th, td {
  width: 60px;
  padding: 10px;
  text-align: center;
}

td {
  background-color: white;
  color: black;
}

th {
  background-color: #fff8cf;
  color: black;
}

table tr:nth-child(odd) td {
      background-color: #f5f5f5; /* 偶数行の色分け */
    }

.taiko {
  width: 90%;
  margin: 20px;
  border-collapse: collapse;
  padding: 10px;
  font-size: 13px;
}

.taiko tr:nth-child(odd) td {
      background-color: #f5f5f5; /* 偶数行の色分け */
  }

.taiko th {
  background-color: #fff8cf;
  height: 90%;
  color: black;
}

.diagonal-cell {
  position: relative; /* 相対位置指定 */
    }

.diagonal-cell::before {
  content: ""; /* 擬似要素 */
  position: absolute; /* 絶対位置指定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent 49%, black 50%, black 51%, transparent 52%);
    }

.table1{
  background-color: #eaf6fd;
  <!--
    background-image: url('efb_image0.jpeg');
    background-size: cover; /* 画面全体にフィット */
    background-repeat: no-repeat; /* 繰り返しを防ぐ */
    background-position: center center; /* 中央揃え */
    height: 600px; /* ビューポート全体の高さに設定 */
    margin: 0; /* 余白なし */
    background-attachment: fixed; /* 背景固定 */
    width: 100%; /* コンテナの幅 */
    overflow-x: auto; /* 横スクロール許可 */
    white-space: nowrap; /* 折り返し防止 */
  -->
}

.table2{
  background-image: url('stadiummono.png');
  background-size: cover; /* 画面全体にフィット */
  background-repeat: no-repeat; /* 繰り返しを防ぐ */
  background-position: center center; /* 中央揃え */
  height: 1000px; /* ビューポート全体の高さに設定 */
  margin: 0; /* 余白なし */
  background-attachment: fixed; /* 背景固定 */
  width: 100%; /* コンテナの幅 */
  overflow-x: auto; /* 横スクロール許可 */
  white-space: nowrap; /* 折り返し防止 */
}

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.menu{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
}

.menu a{
  color: white;
}

.menu a: hover{
  color: white;
}

.reg {
  background-color: #eaf6fd;
  color: #305089;
  <!--
    background-image: url('efb_image1.jpeg');
    background-size: cover; /* 画面全体にフィット */
    background-repeat: no-repeat; /* 繰り返しを防ぐ */
    background-position: center center; /* 中央揃え */
    height: 500px; /* ビューポート全体の高さに設定 */
    margin: 0; /* 余白なし */
    background-attachment: fixed; /* 背景固定 */
  -->
}

#pattern1 {
  background-color: #eaf6fd;
  color: #305089;
  font-size: 15px;
  padding: 15px;
}

.logo{
  width: 300px;
  height: auto;
  text-align: center;
}

footer {
  background-color: #305089;
  padding: 0;
}

.footer{
  color: white;
  padding: 10px;
  text-align: center;
}
